@media only screen and (max-width: 1024px) {
  .footer-row {
    flex-direction: column;
    align-items: center;
  }
  .footer-row-column {
    width: 100%;
  }
  .footer-nav-list {
    gap: 15px;
    align-items: center;
    .menu-item {
      text-align: center;
      a {
        text-align: center;
        font-size: 1.35rem;
        line-height: 1.6rem;
      }
    }
  }

  .footer-anpc-bagdes-container {
    align-items: center;
  }

  .footer-copyrights {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
  }

  .footer-logo {
    max-width: 300px;
    width: 100%;
    margin-inline: auto;
  }
  .footer-content {
    padding-top: 50px;
  }

  .header-mobile-menu-button-container {
    display: block;
  }
  .header-nav-container {
    display: none;
  }

  .prizes-container {
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }
  .prize-item {
    width: 100%;
    max-width: 500px;
    &:nth-of-type(2) {
      margin-top: 0;
    }
  }

  .hero-section-content{
    justify-content: center;
    min-height: calc(100dvh - var(--hero-section-padding-top));
    height: max-content;
    padding-top: 15px;
  }

  .magura-map-container{
    height: max-content;
    padding-block: 25px;
  }
  
  .products-list{
    gap: 50px;
  }
  .product-item{
    width: calc(50% - 50px);
    &.wider{
      width: calc(50% - 50px);
    }
  }

  .campaigns-history-list{
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .winners-list-group{
    background: linear-gradient(180deg, var(--white) 20%, var(--red) 100%)
  }
  .winners-list-group-content{
    flex-direction: column;
  }
  .winners-list-group-image-container{
    margin-inline:auto ;
  }
  .winners-list-group-winners{
    width: 100%;
  }

  .hero-section-headliner{
    padding-bottom: 10px;
    svg{
      width: 90%;
    }
  }
  .hero-floating-elements{
    position: relative;
    top: auto;
    justify-content: center;
  }

}
@media only screen and (max-width: 768px) {
  .maintenance-content {
    flex-direction: column;
  }
  .maintenance-content-text,
  .notfound-content-text {
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .notfound-title{
    font-size: 135px;
    line-height: 135px;
  }
  .maintenance-image-container {
    display: none;
  }

  .heading-container h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .how-to-win-text{
    font-size: 1.5rem;
    line-height: 1.8rem;
}


.product-item{
  width: 100%;
  &.wider{
    width: 100%;
  }
}

 .campaigns-history-list{
    gap: 20px;
  }

  .how-to-win-row{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column-reverse;
  }
  .how-to-win-second-row{
    
  }
  .how-to-win-first-row{
  
  
    margin-bottom: 20px;
  }
  .how-to-win-text{
    position: relative
    ;
    font-size: 1.2rem;
    line-height: 1.5rem;
    width: 100%;
    text-align: center;
    top: unset;
    left: unset;
  }
  .campaign-transition{
    position: fixed;
    top: 70px;
  }
}
@media only screen and (max-width: 480px) {
  .product-item-name{
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .campaigns-history-list{
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .won-prize-item {.prize-item-content{
    max-width: 240px;
    max-height: 240px;
  }}
  .prize-name{
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .prize-title{
    font-size: 2rem;
  }
  .prize-loss-icon{
    max-width: 85%;
  }
}
